.btn {

    &,
    &:link,
    &:active {

        display: inline-block;
        padding: 1rem 4.5rem;
        margin-top: 1.5rem;
        color: $bg-white;
        border-radius: 3px;
        border: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 1.4rem;
        transition: all .3s;
    }

    &__blue {

        background-color: $bg-sky-800;
        color: $bg-white;
    }

    &__white {

        background-color: $bg-white;
        color: $bg-slate-900;
    }

    &__dark {

        background-color: $bg-slate-800;
        color: $bg-white;
    }

    &__animation {

        &:hover {

            transform: translateY(-3px);
        }

        &:active {

            transform: translateY(1px);
        }
    }
}