.about {

    @include respond (break-510) { padding: 5rem 2.5rem; }

    width: 100%;
    min-height: 50rem;

    padding: 5rem;

    background-color: transparent;
}

.about {

    &__header {

        background-color: transparent;
        text-align: center;

        &--subtitle {}
        &--title {}

        & > *:not(:last-child) { margin-bottom: .5rem; }
    }

    &__desc {

        @include respond (break-1200) {

            width: 100%;
        }

        position: relative;

        width: 50%;
        margin: 0 auto;
        margin-top: 2.5rem;

        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7;
        text-align: justify;

        background-color: transparent;

        &--quotemark {

            @include respond (break-550) { width: 35rem; }

            width: 45rem;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            opacity: .5;
        }
    }
}