.gallery {

    @include respond (break-600) { padding: 5rem 1.5rem; }

    width: 100%;
    min-height: 50rem;

    background-color: rgba($bg-amber-050, .15);

    padding: 5rem;
}

.gallery {

    &__heading {

        @include respond (break-600) {

            text-align: center;
        }

        text-align: center;
    }

    &__grid {

        @include respond (break-1200) {

            grid-template-columns: repeat(2, 35rem);
        }

        @include respond (break-785) {

            grid-template-columns: repeat(1, 35rem);
        }

        @include respond (break-350) {

            grid-template-columns: repeat(1, 30rem);
        }

        display: grid;
        grid-template-columns: repeat(3, 35rem);
        grid-template-rows: repeat(auto, 47rem);
        gap: 3.5rem;
        
        justify-content: center;

        margin-top: 10rem;
    }

    &__card {

        @include respond (break-350) { width: 30rem; }

        position: relative;

        width: 35rem;
        height: 47rem;
        
        padding: 2.5rem;

        overflow: hidden;

        background-color: $bg-white;
        border-radius: 15px;
        border: 1px solid $bg-rose-100;

        @include shadow-md;
    }

    &__img {

        width: 100%;
        min-height: 20rem;
        border-bottom: 1px solid $bg-rose-100;

        & > img { width: 100%; }
    }

    &__caption { margin-top: 2.5rem; }

    &__link {

        position: absolute;
        bottom: 2.5rem;
        right: 2.5rem;

        display: inline-block;
        width: calc(100% - 5rem);
        padding: 1.5rem 2.5rem;

        background-color: $bg-amber-200;
        border-radius: 3px;
        color: $bg-amber-900;

        text-decoration: none;
        text-align: center;

        font-size: 1.4rem;
        font-weight: 500;

        transition: transform .4s ease-in-out;

        &:hover { transform: translateY(-4px); }
        &:active { transform: translateY(0); }
    }
}