.service {

    width: 100%;
    min-height: 65rem;
    padding: 5rem;

    background-color: transparent;
}

.service {

    &__header {

        text-align: center;
    }

    &__grid {

        @include respond (break-670) {

            grid-template-columns: repeat(1, 30rem);
        }

        margin-top: 10rem;

        background-color: transparent;

        display: grid;
        grid-template-columns: repeat(2, 30rem);
        grid-template-rows: repeat(auto, 54rem);

        justify-content: center;
        gap: 3.5rem;
    }

    &__card {

        position: relative;

        width: 30rem;
        height: 54rem;

        border: 1px solid $bg-rose-100;
        border-radius: 10px;

        overflow: hidden;

        background-color: $bg-white;

        @include shadow-xl;
    }

    &__img {

        width: 100%;
        height: 18rem;

        background-color: transparent;
        border-bottom: 1px solid $bg-rose-100;

        overflow: hidden;

        & > img { width: 100%; }
    }

    &__heading {

        margin-top: 2.5rem;

        font-size: 2.4rem;
        font-weight: 400;

        text-align: center;
    }

    &__related {

        margin-top: 3rem;
        padding: 0 2.5rem;

        background-color: transparent;

        font-size: 1.4rem;
    }

    &__list {

        list-style: none;

        &--item {

            &:not(:last-child) { margin-bottom: 2.5rem; }

            & > span {

                padding: .75rem .85rem;
                background-color: $bg-pink-100;
                border-radius: 3px;
            }
        }
    }
}