@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", "maven pro", sans-serif, arial;
}

[class$="--subtitle"] {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: rgb(180, 83, 9);
}

[class$="--title"] {
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  color: #334155;
}
[class$="--title"] > span {
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
}

.related {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.45rem 0.5rem;
  background-color: #FCE7F3;
}
.related:not(:last-child) {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.related__blue {
  background-color: #BFDBFE !important;
}
.related__pink {
  background-color: #FBCFE8 !important;
}
.related__yellow {
  background-color: #FEF08A !important;
}
.related__sky {
  background-color: #BAE6FD !important;
}
.related__green {
  background-color: #BBF7D0 !important;
}
.related__lime {
  background-color: rgb(217, 249, 157) !important;
}
.related__amber {
  background-color: rgb(253, 230, 138) !important;
}
.related__violet {
  background-color: #DDD6FE !important;
}
.related__rose {
  background-color: #FECDD3 !important;
}

.bold {
  font-weight: 600;
}

.bold-italic {
  font-weight: 600;
  font-style: italic;
}

.btn, .btn:link, .btn:active {
  display: inline-block;
  padding: 1rem 4.5rem;
  margin-top: 1.5rem;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.btn__blue {
  background-color: #075985;
  color: #FFFFFF;
}
.btn__white {
  background-color: #FFFFFF;
  color: #0F172A;
}
.btn__dark {
  background-color: #1E293B;
  color: #FFFFFF;
}
.btn__animation:hover {
  transform: translateY(-3px);
}
.btn__animation:active {
  transform: translateY(1px);
}

.i-nav {
  width: 3rem;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
}
.i-nav::before, .i-nav::after {
  width: 3rem;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
  display: inline-block;
}
.i-nav::after, .i-nav::before {
  content: "";
  left: 0;
  position: absolute;
  transition: all 0.2s;
}
.i-nav::after {
  top: -10px;
}
.i-nav::before {
  top: 10px;
}

.i-center {
  line-height: 1;
  color: inherit;
  text-align: center;
}
.i-center-2 {
  font-size: 2rem;
}
.i-center-3 {
  font-size: 3rem;
}
.i-center-4 {
  font-size: 4rem;
}
.i-center-5 {
  font-size: 5rem;
}

.nav {
  display: none;
  /* hamburger */
}
@media (max-width: 49.0625em) {
  .nav {
    display: block;
  }
}
.nav__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.nav__checkbox {
  display: none;
}
.nav__hamburger {
  display: inline-block;
  width: 100%;
  height: 0.4rem;
  background-color: #334155;
  border-radius: 2px;
  position: relative;
}
.nav__hamburger::after, .nav__hamburger::before {
  position: absolute;
  content: "";
  width: 80%;
  background-color: #334155;
  /* inheritance */
  height: inherit;
  border-radius: inherit;
}
.nav__hamburger::after {
  top: 10px;
}
.nav__hamburger::before {
  top: -10px;
}

/* nav open / close technique */
.nav__checkbox:checked ~ .nav__button .nav__hamburger {
  background-color: transparent;
}
.nav__checkbox:checked ~ .nav__button .nav__hamburger::after, .nav__checkbox:checked ~ .nav__button .nav__hamburger::before {
  top: 0;
}
.nav__checkbox:checked ~ .nav__button .nav__hamburger::after {
  transform: rotate(135deg);
}
.nav__checkbox:checked ~ .nav__button .nav__hamburger::before {
  transform: rotate(-135deg);
}

/* nav menu */
.nav__menu {
  margin-left: -25rem;
  padding: 3rem;
  position: fixed;
  width: 25rem;
  height: 100vh;
  background-color: #FFFFFF;
  border-right: 1px solid #E5E7EB;
  z-index: 1000;
  transition: margin 0.4s ease-in-out;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav__list--link {
  display: inline-block;
  width: 100%;
  padding-bottom: 1.5rem;
  color: #1E293B;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid #E5E7EB;
  font-size: 1.7rem;
}
.nav__list--link:not(:last-child) {
  margin-bottom: 1rem;
}
.nav__list--link:nth-child(even) {
  font-weight: 600;
}
.nav__disable {
  display: none;
  position: fixed;
  right: 0;
  z-index: 999;
  width: calc(100% - 25rem);
  height: 100vh;
  background-color: transparent;
}

.litem {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 400;
}
.litem > div:not(:last-child) {
  margin-right: 1.15rem;
}
.litem:not(:last-child) {
  margin-bottom: 1.15rem;
}
.litem__icon > i {
  color: #16A34A;
}

.header {
  width: 90%;
  height: 15rem;
  margin: 0 auto;
  border-radius: none;
  border-bottom: 1px solid #E5E7EB;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__logo > :not(:last-child) {
  margin-right: 1rem;
}
.header__logo--svg {
  width: 7.5rem;
}
@media (max-width: 40em) {
  .header__logo--svg {
    width: 5rem;
  }
}
.header__logo--brandname {
  font-size: 2.8rem;
}
.header__logo--brandname > span {
  font-weight: 700;
}
.header__list {
  font-size: 1.8rem;
}
@media (max-width: 49.0625em) {
  .header__list {
    display: none;
  }
}
.header__list--item {
  display: inline-block;
  transition: color 0.3s ease-in-out;
  padding: 1rem 0;
  cursor: pointer;
}
.header__list--item:not(:last-child) {
  margin-right: 1.5rem;
}
.header__list--item:nth-child(even) {
  font-weight: 700;
}
.header__list--item:hover {
  color: #4B5563;
}
.header__list--link {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-top: 10rem;
  width: 100%;
  padding: 5rem;
  background-color: transparent;
  border-top: 1px solid #E5E7EB;
}
@media (max-width: 35.625em) {
  footer {
    padding: 2.5rem;
  }
}

.footer__logo {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__logo--img {
  width: 8rem;
}
@media (max-width: 31.875em) {
  .footer__logo--img {
    width: 6.5rem;
  }
}
.footer__logo--name {
  margin-left: 1.5rem;
  font-size: 2.6rem;
}
@media (max-width: 31.875em) {
  .footer__logo--name {
    font-size: 2.4rem;
  }
}
.footer__logo--name > span {
  font-weight: 700;
}
.footer__description {
  margin-top: 0.5rem;
  background-color: transparent;
  width: 60%;
  line-height: 1.55;
  font-size: 2rem;
}
@media (max-width: 61.25em) {
  .footer__description {
    width: 100%;
  }
}
@media (max-width: 31.875em) {
  .footer__description {
    font-size: 1.8rem;
  }
}
@media (max-width: 25.625em) {
  .footer__description {
    font-size: 1.6rem;
  }
}
.footer__description > span {
  font-weight: 500;
}
.footer__links {
  margin-top: 2.5rem;
  background-color: transparent;
}
@media (max-width: 37.5em) {
  .footer__links {
    text-align: center;
  }
}
.footer__link {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.85rem 1.5rem;
  background-color: rgb(253, 230, 138);
  transition: transform 0.4s;
  transform: skewX(-12deg);
  text-decoration: none;
  color: rgb(120, 53, 15);
}
@media (max-width: 31.875em) {
  .footer__link {
    font-size: 1.4rem;
  }
}
@media (max-width: 25.625em) {
  .footer__link {
    font-size: 1.2rem;
  }
}
.footer__link:not(:last-child) {
  margin-right: 1rem;
}
@media (max-width: 25.625em) {
  .footer__link:not(:last-child) {
    margin-right: 0.5rem;
  }
}
.footer__link:hover {
  transform: translateY(-4px) skewX(-12deg);
}
.footer__link:active {
  transform: translateY(4px) skewX(-12deg);
}
.footer__copyrights {
  margin-top: 2.5rem;
  background-color: transparent;
  font-size: 1.6rem;
  text-align: center;
}
@media (max-width: 40em) {
  .footer__copyrights {
    font-size: 1.4rem;
  }
}
@media (max-width: 25.625em) {
  .footer__copyrights {
    line-height: 2rem;
  }
}
.footer__copyrights > span {
  font-weight: 700;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 10000;
}
@media (max-width: 49.0625em) {
  .popup {
    align-items: flex-end;
  }
}

.popup__content {
  position: relative;
  width: 85rem;
  height: 45rem;
  padding: 5rem;
  margin-bottom: -400rem;
  transition: margin 0.4s ease-in-out;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 63.125em) {
  .popup__content {
    width: 75rem;
    height: 45rem;
  }
}
@media (max-width: 49.0625em) {
  .popup__content {
    width: 100%;
    height: 35rem;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #E5E7EB;
  }
}
@media (max-width: 31.875em) {
  .popup__content {
    padding: 2.5rem;
  }
}
.popup__content--heading {
  margin-bottom: 1.25rem;
  font-size: 2.4rem;
  font-weight: 500;
}
@media (max-width: 31.875em) {
  .popup__content--heading {
    font-size: 2rem;
  }
}
.popup__content--desc {
  font-size: 1.6rem;
  line-height: 1.5;
}
.popup__content--desc > span {
  font-weight: 700;
}
.popup__button {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  display: inline-block;
  padding: 1.25rem 2.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: rgb(253, 230, 138);
  color: rgb(120, 53, 15);
  transition: transform 0.4s ease-in-out;
}
@media (max-width: 31.875em) {
  .popup__button {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}
.popup__button:hover {
  transform: translateY(-4px);
}
.popup__button:active {
  transform: translateY(0);
}

.home {
  width: 100%;
  min-height: 50rem;
  background-image: linear-gradient(to top, #67E8F9, #60A5FA);
}

.home__content {
  padding: 6.5rem;
  text-align: left;
  color: #FFFFFF;
}
@media (max-width: 31.875em) {
  .home__content {
    padding: 3rem;
  }
}
.home__content--caption {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.home__content--heading {
  font-size: 3.8rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
.home__content--body {
  width: 50%;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media (max-width: 54.0625em) {
  .home__content--body {
    width: 100%;
  }
}
.home__content--body > span {
  font-weight: 800;
  font-style: italic;
}
.home__link {
  width: 100%;
  margin-top: 2.5rem;
}
.home__link--btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
  color: #FFFFFF;
  transition: transform 0.4s ease-in-out;
}
.home__link--btn::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 15rem;
  height: 5rem;
  border-radius: 5px;
  background-color: transparent;
}
.home__link--btn:hover {
  transform: translateY(-4px);
}
.home__link--btn:active {
  transform: translateY(0);
}

.about {
  width: 100%;
  min-height: 50rem;
  padding: 5rem;
  background-color: transparent;
}
@media (max-width: 31.875em) {
  .about {
    padding: 5rem 2.5rem;
  }
}

.about__header {
  background-color: transparent;
  text-align: center;
}
.about__header > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.about__desc {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  text-align: justify;
  background-color: transparent;
}
@media (max-width: 75em) {
  .about__desc {
    width: 100%;
  }
}
.about__desc--quotemark {
  width: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
}
@media (max-width: 34.375em) {
  .about__desc--quotemark {
    width: 35rem;
  }
}

.service {
  width: 100%;
  min-height: 65rem;
  padding: 5rem;
  background-color: transparent;
}

.service__header {
  text-align: center;
}
.service__grid {
  margin-top: 10rem;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-template-rows: repeat(auto, 54rem);
  justify-content: center;
  gap: 3.5rem;
}
@media (max-width: 41.875em) {
  .service__grid {
    grid-template-columns: repeat(1, 30rem);
  }
}
.service__card {
  position: relative;
  width: 30rem;
  height: 54rem;
  border: 1px solid #FFE4E6;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.service__img {
  width: 100%;
  height: 18rem;
  background-color: transparent;
  border-bottom: 1px solid #FFE4E6;
  overflow: hidden;
}
.service__img > img {
  width: 100%;
}
.service__heading {
  margin-top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}
.service__related {
  margin-top: 3rem;
  padding: 0 2.5rem;
  background-color: transparent;
  font-size: 1.4rem;
}
.service__list {
  list-style: none;
}
.service__list--item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.service__list--item > span {
  padding: 0.75rem 0.85rem;
  background-color: #FCE7F3;
  border-radius: 3px;
}

.offers {
  width: 100%;
  min-height: 30rem;
  padding: 5rem;
  background-color: rgba(255, 251, 235, 0.2);
}

.offers__header {
  text-align: center;
}
.offers__grid {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: repeat(auto, 55rem);
  justify-content: center;
  gap: 3.5rem;
}
@media (max-width: 64.375em) {
  .offers__grid {
    grid-template-columns: repeat(2, 30rem);
  }
}
@media (max-width: 41.875em) {
  .offers__grid {
    grid-template-columns: repeat(1, 30rem);
  }
}
.offers__card {
  position: relative;
  width: 30rem;
  height: 55rem;
  background-color: #FFFFFF;
  border: 1px solid #FFE4E6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.offers__img {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}
.offers__img > img {
  width: 100%;
}
.offers__heading {
  margin-top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}
.offers__body {
  margin-top: 2.5rem;
  padding: 0 2rem;
}
.offers__footer {
  width: 100%;
  padding: 1.5rem 0;
  background-color: transparent;
  text-align: center;
  position: absolute;
  bottom: 2.5rem;
}
.offers__link {
  outline: none;
  border: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  transition: transform 0.4s;
}
.offers__link:hover {
  transform: translateY(-4px);
}
.offers__link:active {
  transform: translateY(0);
}
.offers__link:not(:last-child) {
  margin-right: 0.5rem;
}
.offers__link:first-child {
  background-color: rgba(234, 179, 8, 0.5);
  color: #713F12;
}
.offers__link:last-child {
  background-color: #4ADE80;
  color: rgb(54, 83, 20);
}
.offers__button {
  width: 80%;
}
.offers__price {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* update v0.2 > related */
.offers__related {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 400;
}
.offers__related > div:not(:last-child) {
  margin-right: 1.15rem;
}
.offers__related:not(:last-child) {
  margin-bottom: 1.15rem;
}
.offers__related--icon > i {
  color: #16A34A;
}

.gallery {
  width: 100%;
  min-height: 50rem;
  background-color: rgba(255, 251, 235, 0.15);
  padding: 5rem;
}
@media (max-width: 37.5em) {
  .gallery {
    padding: 5rem 1.5rem;
  }
}

.gallery__heading {
  text-align: center;
}
@media (max-width: 37.5em) {
  .gallery__heading {
    text-align: center;
  }
}
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(auto, 47rem);
  gap: 3.5rem;
  justify-content: center;
  margin-top: 10rem;
}
@media (max-width: 75em) {
  .gallery__grid {
    grid-template-columns: repeat(2, 35rem);
  }
}
@media (max-width: 49.0625em) {
  .gallery__grid {
    grid-template-columns: repeat(1, 35rem);
  }
}
@media (max-width: 21.875em) {
  .gallery__grid {
    grid-template-columns: repeat(1, 30rem);
  }
}
.gallery__card {
  position: relative;
  width: 35rem;
  height: 47rem;
  padding: 2.5rem;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 15px;
  border: 1px solid #FFE4E6;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 21.875em) {
  .gallery__card {
    width: 30rem;
  }
}
.gallery__img {
  width: 100%;
  min-height: 20rem;
  border-bottom: 1px solid #FFE4E6;
}
.gallery__img > img {
  width: 100%;
}
.gallery__caption {
  margin-top: 2.5rem;
}
.gallery__link {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  display: inline-block;
  width: calc(100% - 5rem);
  padding: 1.5rem 2.5rem;
  background-color: rgb(253, 230, 138);
  border-radius: 3px;
  color: rgb(120, 53, 15);
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  transition: transform 0.4s ease-in-out;
}
.gallery__link:hover {
  transform: translateY(-4px);
}
.gallery__link:active {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */